body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
h1
{
    font-size: 50px;
}

.half-width
{
    padding-left: 5%;
    width: 50%;
    padding-right: 5%;
}
.flexable-container
{
    display: flex;
    margin-bottom: 150px;
}
.half-width img
{
    width: 100%;
    
}
h2{
    font-size: 35px;
}

.click-btn
{
    text-decoration: none;
    border: 1px solid tomato;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(rgb(231, 221, 195), tomato);
    color: white;
    font-weight: 700;
}
.click-btn:hover
{
    background-image: linear-gradient(white,rgb(231, 66, 60));
}

.top-banner
{
    background-image: url(../images/sm_bg.jpeg);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: -30px -25px; 
}

.second-img img
{
    margin-top: 10%;
    width: 70%;
    border-radius: 450px;
    border: 7px dotted steelblue;
    box-shadow: 10px 10px 40px steelblue;
}
.dream-big
{
    background-image: url(../images/bow_arrow.png);
    background-repeat: no-repeat;
    background-position: right 65px;
}
#welcome
{
    margin-top: 100px;
}
#experiences
{
    padding-left: 50px;
}

#orange-color
{
    color: orange;
}
.box
{
    border-image: linear-gradient(rgb(244, 201, 197), tomato);
    box-shadow: 10px 10px 40px cyan;
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 2%;
    border-right: 7px solid;
    border-image-slice: 1;
}

footer
{
    text-align: center;
}
#dream
{
    color:rgb(74, 175, 233);
}